:root {
  // Colors
  --green: #4b9200;
  --orange: #f9804b;
  --yellow: #ffee2e;
  --red: #d31414;
  --dark-blue: #333b41;
  --dark-grey: #767474;
  --grey: #ababab;
  --light-grey: #f1f3f2;
  --white: rgba(253, 253, 255, 0.52);
  // Background
  --bcg-white: #ffffff;
  --bcg-black: #111115;
  // Transition
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  //   Gradients
  --gradient-orange: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --gradient-pink: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}
