.hero--donate {
  background-image: url(../imgs/hero/panda-donate-mob-x1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 187px;
  margin-bottom: 30px;

  @include retina {
    background-image: url(../imgs/hero/panda-donate-mob-x2.png);
  }

  @include tablet {
    height: 335px;

    background-image: url(../imgs/hero/panda-donate-tab-x1.png);

    @include retina {
      background-image: url(../imgs/hero/panda-donate-tab-x2.png);
    }
  }

  @include small-desktop {
    height: 390px;
    margin-bottom: 40px;

    background-image: url(../imgs/hero/panda-donate-smdesk-x1.png);

    @include retina {
      background-image: url(../imgs/hero/panda-donate-smdesk-x2.png);
    }
  }

  @include desktop {
    background-image: url(../imgs/hero/panda-donate-desk-x1.png);

    @include retina {
      background-image: url(../imgs/hero/panda-donate-desk-x2.png);
    }
  }
}

.hero__fixed-header {
  margin-top: 35px;
  @include small-desktop {
    margin-top: 0;
  }
}
