.testimonial {
  position: relative;

  padding: 30px 10px 60px;

  @include tablet {
    padding: 60px 20px 80px;
  }

  @include small-desktop {
    padding: 100px 30px 140px;
  }

  @include desktop {
    padding: 140px 20px 180px;
  }

  & .container {
    text-align: center;

    padding: 0;
  }
}

.testimonial__img {
  position: absolute;
  bottom: -31px;
  right: 0px;

  @include tablet {
    bottom: -68px;
  }

  @include small-desktop {
    bottom: -86px;
  }

  @include desktop {
    bottom: -105px;
  }
}

.testimonial__title {
  @include font(400, 24px, 1.2);

  margin-bottom: 20px;

  @include tablet {
    @include font(400, 36px, 1.3);

    margin-bottom: 30px;
  }

  @include small-desktop {
    color: var(--dark-blue);

    margin-bottom: 21px;
  }
}

.testimonial__list {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  margin-bottom: 30px;

  @include tablet {
    margin-bottom: 40px;
  }

  @include small-desktop {
    grid-template-columns: repeat(11, 293px);
    column-gap: 30px;

    margin-bottom: 20px;

    // transform: translateX(-25%);

    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include desktop {
    grid-template-columns: repeat(11, 276px);
  }
}

.testimonial__item {
  color: var(--dark-grey);
  border: 1px solid var(--orange);
  border-radius: 20px;
  padding: 10px 29px 12px 12px;
  background-color: var(--light-grey);

  &:nth-child(n + 4) {
    display: none;

    @include small-desktop {
      display: block;
    }
  }

  &.backdrop--popup {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    z-index: 10;
  }

  @include tablet {
    padding: 15px 29px 8px 12px;
  }

  @include small-desktop {
    padding: 15px 22px 19px 16px;
  }

  @include desktop {
    padding: 15px 15px 19px 16px;
  }
}

.testimonial__top {
  display: flex;

  margin-bottom: 10px;

  @include small-desktop {
    margin-bottom: 17px;
  }
}

.testimonial__user {
  margin-right: 6px;

  @include tablet {
    margin-right: 10px;
  }
}

.testimonial__desc {
  text-align: left;
}

.testimonial__user--name {
  @include font(400, 16px, 1.2);

  color: #000000;
}

.testimonial__user--location,
.testimonial__user--date {
  @include font(300, 15px, 1.2);

  color: #bdbdbd;
}

.testimonial__bottom {
  text-align: left;
}

.testimonial__msg {
  overflow-y: hidden;

  max-height: 38px;
  margin-left: 6px;

  .backdrop--popup & {
    max-height: 310px;
  }

  @include small-desktop {
    margin-left: 0;
    max-height: 310px;
  }
}

.testimonial__input {
  display: none;
  @include small-desktop {
    appearance: none;
    width: 390px;
    height: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 52px;
    background-color: #f1f3f2;
    border-radius: 5px;
    overflow-y: hidden;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 55px;
      height: 8px;
      border-radius: 5px;
      background: #f9804b;
      cursor: pointer;
    }

    @include desktop {
      width: 600px;
      margin-bottom: 31px;
    }
  }
}

.testimonial__btn {
  display: block;

  border-radius: 5px;

  padding-top: 16px;
  margin: 0 auto;
  width: 240px;

  @include small-desktop {
    margin: 0;
    width: 298px;
  }
}
