.mob-menu {
  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--bcg-white);

  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.is-hidden {
    display: none;
    @include tablet {
      display: none;
    }
  }

  & .container {
    display: block;
    margin: 0 auto;
  }
}

.mob-menu__open {
  margin-left: auto;
  background-color: transparent;
  border: none;

  & .mob-menu__icon {
    fill: var(--bcg-white);
  }

  @include small-desktop {
    display: none;
  }
}

.mob-menu__close {
  display: block;
  margin-left: auto;

  border: none;

  background-color: var(--bcg-white);

  & .mob-menu__icon {
    fill: currentColor;
  }
}

.mob-menu__item {
  line-height: 1.4;
  transition: all var(--time) var(--cubic);

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &:hover,
  &:focus {
    color: var(--orange);
    cursor: pointer;
  }
}

.mob-menu__link {
  color: inherit;
}
